@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Oswald&family=Roboto&display=swap');

*{
  font-family: 'Audiowide', cursive;
}

:root{

  --bg-primary:#292a2d;
}

header{
  background-color: var(--bg-primary);
}